<div class="container-fluid p-0">
  <div class="imag_banner clas_pos">
    <img src=" /assets/images/BannerImage.png" class="img-fluid img_object">
  </div>
  <div class="d-flex">
    <!-- <h1 class="fs-50  text-light my-auto w-100 home-text fi text-center fw-700">EQUIPMENT RENTALS MADE EASY</h1> -->
    <div class="hover clss-rel two ml-auto my-auto pr-3">
      <ul class="list-unstyled">
        <li class="mb-4">
          <a href="https://www.facebook.com/"> <i class="fa fa-facebook fnt-fff"></i>
          </a>
        </li>
        <li class="mb-4">
          <a href="https://twitter.com/LOGIN"> <i class="fa fa-twitter fnt-fff"></i>
          </a>
        </li>

        <li class="mb-4">
          <a href="https://www.instagram.com/accounts/login/"> <i class="fa fa-instagram fnt-fff"></i>
          </a>
        </li>
        <li class="mb-4">
          <a href="https://www.youtube.com/"> <i class="fa fa-youtube-play fnt-fff"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- <div class="m-auto">
           <div class="equip-2">
              <h2 class="equip-hd-1">EQUIPMENT RENTALS MADE EASY</h2>
             </div>
     </div> -->


  </div>


  <section class="five">
    <div class="container-fluid">


      <div class="row three my-5 pt-4">
        <div class="flex-container mx-auto">
          <span class="map-icon"><i class="fa fa-map-marker"></i></span>
          <div style="flex-grow: 1">
            <div class="selectdiv">
              <label>
                <select class="form-control brd-clr form-select" aria-label="Default select example">
                  <option selected class="cls-blk">Select Location</option>
                  <option value="1" class="cls-blk">Hyderabad</option>
                  <option value="2" class="cls-blk">Vijayawada</option>
                  <option value="3" class="cls-blk">Warangal</option>
                </select>
              </label>
            </div>



          </div>
          <div style="flex-grow: 8">
            <input type="search" aria-label="Last name"
              class="form-control brd-clr1 width_too border-left-0 pdt-20 pdb-20" placeholder="Find Equipment"
              #search_categorie />
          </div>
          <div style="flex-grow: 1">
            <button type="button" class="btn width_btn btn-srch ml-5 fs-15"
              (click)="search_button(search_categorie.value)">SEARCH</button>
          </div>
        </div>


        <!-- <div class="input-group">
          <div class="input-group-prepend my-2">
            <button type="button" class="brd-clr dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-map-marker mr-3"></i> Hyderabad
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item">Mancherial</a>
              <a class="dropdown-item">Jagitial</a>
              <a class="dropdown-item">Adilabad</a>
            </div>
            <input type="text" class="form-control brd-clr border-left-0 pdt-20 pdb-20" placeholder="Find Equipment"
              #search_categorie>
          </div>
          <div class="m-auto">
            <button type="button" class="btn btn-srch ml-5 my-2 fs-15 "
              (click)="search_button(search_categorie.value)">SEARCH</button>
          </div>

        </div> -->

        <div class="row mx-15 mt-2">

          <div class="col">
            <img src="assets/images/Backhoeloader.png" class="img-fluid">
          </div>
          <div class="col">
            <img src="assets/images/exacavator.png" class="img-fluid">
          </div>
          <div class="col">
            <img src="assets/images/wheeloader.png" class="img-fluid">
          </div>
          <div class=" col">
            <img src="assets/images/motorgrader.png" class="img-fluid">
          </div>
          <div class=" col">
            <img src="assets/images/roadroller.png" class="img-fluid">
          </div>
          <div class=" col">
            <img src="assets/images/telescopichandler.png" class="img-fluid">
          </div>

          <div class=" col">
            <img src="assets/images/crawler.png" class="img-fluid">
          </div>

          <div class=" col">
            <img src="assets/images/forlifttruck.png" class="img-fluid">
          </div>

        </div>
      </div>


      <div class="row mgl-0 mgr-0 five-brd my-5" data-aos="fade-up-right">
        <h1 class="five-hd-1 w-100 fs-40 text-center">CREXIN <span class="five-hd-2 text-center "> RENTALS </span>
        </h1>

        <h6 class="five-para-1 fs-15  lh-25 mgb-0">CREXIN is India's leading Material Handling and Construction
          Equipment
          manufacturing company with a majority market share in Mobile Cranes and Tower Cranes Segment.
          In addition to Mobile Cranes, CREXIN also offers Mobile/Fixed Tower Cranes, Crawler Cranes,
          Mounted Cranes, Lorry Loaders, Backhoe Loaders, Vibratory Rollers, Piling Rigs, Forklifts
          , Warehousing Equipment, Tractors, Harvesters and other Agri Machinery. </h6>

        <div class="ml-auto">
          <button type="button" class="btn btn-know-more mt-3 fs-15 ">Know more</button>
        </div>
      </div>
    </div>
  </section>

  <section class="six">
    <div class="container">
      <div class="row justify-content-around mgl-0 mgr-0">
        <div class="col-md-4 my-3">
          <div class="card seven" data-aos="fade-up">
            <h2 class="seven-hd-1 mx-auto mt-3 ">RENT AN EQUIPMENT</h2>
            <div class="mt-auto mx-auto mb-5 z-1">
              <button type="button" class="btn btn-rent-now fs-15 " routerLink="/categories">RENT NOW</button>
            </div>
            <div class="overlay-seven">
              <div class="text-seven">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus sit
                provident blanditiis modi possimus pariatur eaque velit nulla, sequi sunt expedita odit facilis aliquid
                cumque? Rerum a voluptatibus iure dolorem!</div>
            </div>
          </div>

        </div>
        <div class="col-md-4 my-3">
          <div class="card eight" data-aos="fade-up">
            <h2 class="seven-hd-1 mx-auto mt-3 ">HAVE AN EQUIPMENT?</h2>
            <div class="mt-auto mx-auto mb-5 z-1">
              <button type="button" class="btn btn-rent-now fs-15 " routerLink="/vendor">REGISTER NOW</button>
            </div>
            <div class="overlay-eight">
              <div class="text-eight">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus sit
                provident blanditiis modi possimus pariatur eaque velit nulla, sequi sunt expedita odit facilis aliquid
                cumque? Rerum a voluptatibus iure dolorem!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nine" id="Enquiry">
    <div class="container">
      <div class="row mgl-0 mgr-0" data-aos="fade-up">
        <div class="col-md-6 my-5">
          <div class="form-one-1 ">

            <h4 class="nine-hd-1">Let us Know your Rental<br> Requirement</h4>
            <form [formGroup]="UserEnquiry">

              <div class="form-group">
                <label for="" class="fs-15 text-light font-italic my-2">Name</label>
                <input type="text" class="form-control form-jcb" placeholder="Name*" id="name" [(ngModel)]="name"
                  formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback enquiry-error-message">
                  <div *ngIf="f.fullname.errors.required" class="fs-15 ">Fullname is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="fs-15 text-light my-2 font-italic">Email</label>
                <input type="email" class="form-control form-jcb" placeholder="Email" id="email" [(ngModel)]="email"
                  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback enquiry-error-message">
                  <div *ngIf="f.email.errors.required" class="fs-15 ">Email is required</div>
                  <div *ngIf="f.email.errors.email" class="fs-15 ">Email must be at email pattern</div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="fs-15 text-light my-2 font-italic">Mobile</label>
                <input type="tel" class="form-control form-jcb" placeholder="Mobile*" id="number" [(ngModel)]="mobile"
                  formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback enquiry-error-message">
                  <div *ngIf="f.mobile.errors.required" class="fs-15 ">Mobile Number is required</div>
                  <div *ngIf="f.mobile.errors.pattern" class="fs-15 ">Mobile Number must be at 10 digits required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="fs-15 text-light my-2 font-italic">Location</label>
                <input type="text" class="form-control form-jcb" placeholder="Hyderabad" [(ngModel)]="location"
                  id="location" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                <div *ngIf="submitted && f.location.errors" class="invalid-feedback enquiry-error-message">
                  <div *ngIf="f.location.errors.required" class="fs-15 ">Location is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="text-light fs-15 my-2 font-italic">Description</label>
                <textarea class="form-control form-jcb-txtarea" rows="3" [(ngModel)]="description"
                  placeholder="Type here....." id="comment" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback enquiry-error-message">
                  <div *ngIf="f.description.errors.required" class="fs-15 ">Description is required</div>
                </div>
              </div>
              <div class="text-center my-4">
                <button type="button" class="btn btn-frm-submit" (click)="user_enquiry()">SUBMIT</button>
              </div>

            </form>

          </div>
        </div>

        <div class="col-md-6 my-5 text-white" data-aos="flip-up">
          <h2 class="nine-hd-2 fn-25 my-3">HEADER</h2>
          <P class="my-3 nine-para-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed vel vitae aut hic
            adipisci. Eius illo ex quo, doloribus nam sint voluptate, optio rerum temporibus minus officiis saepe iusto
            adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque in, sequi nisi at accusamus atque
            beatae fugit architecto iste. Ullam animi amet quis quos perferendis quisquam omnis enim harum quasi.</P>
          <P class="my-5 nine-para-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus architecto
            voluptatibus odio explicabo animi. Enim iure qui explicabo labore aliquid. Illo ea, iure culpa neque
            recusandae debitis eveniet vero error!</P>

          <P class="my-3 nine-para-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed vel vitae aut hic
            adipisci. Eius illo ex quo, doloribus nam sint voluptate, optio rerum temporibus minus officiis saepe iusto
            adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque in, sequi nisi at accusamus atque
            beatae fugit architecto iste. Ullam animi amet quis quos perferendis quisquam omnis enim harum quasi.</P>
        </div>
      </div>
    </div>
  </section>