
/* img{
    height: 170px !important;
    border-radius: 5%;
    width: 250px !important;
} */
.form-control{
    background-color: transparent !important;
    /* border: none !important; */
    border: 2px solid #ccc !important;
    border-radius: 5px !important;
    padding:0 15px !important;
}
.dropdown-toggle::after {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    margin-right:20px !important;
}